

/* Start:/local/templates/Tests/components/aelita/test.profile/test_profile/aelita/test.profile.tests/.default/style.css?1575881105289*/
.results .test_item{width:100%;display:flex;-webkit-justify-content:flex-start;justify-content:flex-start;-webkit-align-items:center;align-items:center;height:90px}.results .test_item .test_item__name a{color:#119489;text-decoration:underline;cursor:pointer;font-weight:500;font-size:25px}
/* End */
/* /local/templates/Tests/components/aelita/test.profile/test_profile/aelita/test.profile.tests/.default/style.css?1575881105289 */
