

/* Start:/local/templates/Tests/components/aelita/test.test/main_test/style.css?1575528241627*/
img.detail_picture
{
	float:left;
	margin:0 8px 6px 1px;
}

.right
{
	margin-left:30px;

}

.list_answer input
{
	float:left;
	margin-top:3px;
}

.list_page
{
	text-align:right;
}

.line_step
{
	list-style:none;
	margin:0px;
	padding:0px;
	text-align:left;
}

.line_step li
{
	display:inline-block;
	vertical-align:top;
}

.line_step a,.line_step span
{
	display:inline-block;
	border:1px solid #DADADA;
	padding:5px 10px;
}

.line_step a,.line_step span
{
	text-decoration:none;
}

.line_step .select a,.line_step .select span
{
	border:1px solid #000;
}

.line_step .otv a,.line_step .otv span
{
	background-color:#DADADA;
}

/* End */


/* Start:/bitrix/components/aelita/test.top/templates/.default/style.css?1575528241479*/
img.detail_picture
{
	float:left;
	margin:0 8px 6px 1px;
}

.test_item
{
	margin:0px 0px 10px;
}

.test_item_link
{
	float:right;
}

.test_item_maximum_points
{
	margin:4px 0px;
}

.test_repeated
{
	text-align:right;
	margin:0px 0px;
}

.test_list table
{
	border-collapse:collapse;
	margin:0px auto 15px;
	width:60%;
}

.test_list td, .test_list th
{
	padding:2px;
}

.test_list td
{
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}

.test_list th
{
	padding:5px;
}

/* End */
/* /local/templates/Tests/components/aelita/test.test/main_test/style.css?1575528241627 */
/* /bitrix/components/aelita/test.top/templates/.default/style.css?1575528241479 */
